/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 60vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* Buttons */

.slideshowDots {
  text-align: center;

  position: relative;
  bottom: 65px;
}

.slideshowDot {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #e7495c;
}
